.fc-toolbar-title {
  font-size: 20px !important;
}

.fc-toolbar-chunk {
  display: flex;
}

.fc-col-header-cell-cushion {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.fc-event-time {
  white-space: pre-wrap !important;
}
